body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  font-size: 22px;
  text-align: center;
}

header {
  position: fixed;
  z-index: 1;
  background-color: black;
  width: 100%;
  height: 69px;
  opacity: 0.9;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  flex-grow: 1;
  text-align: right;
}

a {
  color: seashell;
  text-decoration: underline;
}

.main {
  padding-top: 69px;
  width: 1200px;
  margin: 0 auto;
  opacity: 0.9;
}

.ourMission {
  height: 700px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  display: flex;
  align-items: center;
}

.missContent {
  background-color: black;
  width: 100%;
}

.teaMonthContent {
  margin-top: 90px;
}

.teaMonthImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea {
  margin: 0 15px 30px 15px;
}

.tea img {
  height: 200px;
  margin-bottom: 10px;
  display: block;
}

.tea span {
  font-weight: bold;
}

.locaContainer {
  height: 500px;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  padding-top: 60px;
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
}

.addyContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.addy {
  height: 235px;
  width: 300px;
  background-color: black;
  margin: 0 20px;
}

.conContent {
  height: 200px;
}

footer {
  text-align: left;
  padding-left: 20px;
  width: auto;
  opacity: 0.9;
}
